extends layout

block content
    #about    
      h1 Event Information
      h3 
        a(href='https://www.google.com/calendar/embed?src=utdlug%40gmail.com&ctz=America/Chicago') Calendar
        br
        br
        hr
        h1 Contact Us
        h3 General
        p Email: utdlug@gmail.com
        p Online Chat: irc.oftc.net #UTDLUG or 
          a(href="https://lug.utdallas.edu/chat") lug.utdallas.edu/chat
        p 
          a(href="https://www.facebook.com/groups/178977705497635") Facebook Group
        br
        h3 Officers
        p President - Aaron Lebo - 
          a(href="mailto:aaron.matthew.lebo@gmail.com") aaron.matthew.lebo@gmail.com
        p Vice President - Mark Neves - 
          a(href="mailto:mark.neves@utdallas.edu") mark.neves@utdallas.edu
        p Treasurer - Andrew Vaccaro -
          a(href="mailto:andrew.vaccaro@utdallas.edu") andrew.vaccaro@utdallas.edu
        p Secretary - Desmond Lee - 
          a(href="mailto:desmond.lee@utdallas.edu") desmond.lee@utdallas.edu
        p Network Administrator - Matthew Martin - 
          a(href="mailto:phy1729@utdallas.edu") phy1729@utdallas.edu
        br
        hr
