extends layout

block content
    #about    
      h1 Event Information
      h3 
        a(href='https://www.google.com/calendar/embed?src=utdlug%40gmail.com&ctz=America/Chicago') Calendar
        br
        br
        h1 Contact Us
        h3 General
        p Email: utdlug@gmail.com
        p Online Chat: irc.oftc.net #UTDLUG or 
          a(href="https://lug.utdallas.edu/chat") lug.utdallas.edu/chat
        br
        h3 Officers
        p President - Daniel Van Allen - daniel.vanallen@utdallas.edu
        p Vice President - Mark Neves - mark.neves@utdallas.edu
        p Treasurer - Andrew Vaccaro - andrew.vaccaro@utdallas.edu
        p Secretary - Desmond Lee - desmond.lee@utdallas.edu
        p Member-at-large - Matthew Martin - phy1729@utdallas.edu
        br
        hr
