extends layout

block content
    h1 Amazon Web Services Meeting
    h2 Tuesday, November 19th at 8:30 pm in ECSS 2.312
    p Interested in Cloud Computing? Want to learn how to deploy your own virtual server, or host your data in the cloud?
    p The Linux Users Group @ UTD is hosting a technical introduction to AWS, demonstrating its many services and abilities. Bring a laptop and join us on this interactive lecture! We will walk users through setting up a trial account on AWS, and explain in detail some cool things they can do with it. The event will be held on Tuesday, November 19th at 8:30 pm in ECSS 2.312

    //- br
    //- hr