extends layout

block content
    h1 Amazon Web Services Meeting
    h3 March 25th at 7:00 pm in TI Auditorium (ECSS)
    img.news-r(src='/images/aws.png')
    p Interested in Cloud Computing? Want to learn how to deploy your own virtual server, or host your data in the cloud?
    p The Linux Users Group @ UTD is coordinating with local Amazon reps to host a technical introduction to AWS, demonstrating its many services and abilities. Bring a laptop and join us on this interactive lecture! We will walk users through setting up a trial account on AWS, and explain in detail some cool things they can do with it. 
    p Optional: We will be walking users through setting up a trial account for AWS, which is free for one year. You'll need a credit-card to participate with this step (note: you will not be charged anything as long as you stay in the AWS free tier monthly usage allotment).
    br
    hr

    h1 Media Servers & Clients Meeting
    h3 April 22nd at 8:30 pm in ECSS 2.415
    p This April LUG @ UTD will be hosting a meeting exploring several media servers and clients for Linux. We will focus on mpd and ncmpcpp, but also plan to show several types of setups including ftp servers, dlna servers, and using embedded systems as media clients. Come join us an learn how to use a raspberry pi to playback Full HD video in your living room for just $35!
    br
    hr
