extends layout

block content
    h1 Amazon Web Services Meeting
    h3 March 25th at 7:00 pm in TI Auditorium (ECSS)
    img.news-r(src='/images/aws.png')
    p Interested in Cloud Computing? Want to learn how to deploy your own virtual server, or host your data in the cloud?
    p The Linux Users Group @ UTD coordinated with local Amazon reps to host a technical introduction to AWS, demonstrating its many services and abilities. 
    p
      b Update: 
      a(href="https://www.youtube.com/watch?v=KEus17RV1T8") Here is the video stream from this event
      | .
    P 
      | Additionally the slides are available for download   
      a(href="/res/aws.pptx") here
      | .
    br
    hr
