extends layout

block content
    h1 Linux Networking Meeting
    h3 (Date and room pending)
    //- img.news-l(src='/images/networking.png')
    p Join us for a meeting this January where we will cover various networking topics in Linux, such as:
    li Turning a Router into a Linux box (Tomato)
    li Turning a Linux box into a Router
    li iptables,pf
    li And more!!
    br
    p Feel free to bring a laptop and follow along as we cover all the information you will need to set up your own customized router or firewall.
    br
    hr

    h1 Amazon Web Services Meeting
    h3 (Date and room pending)
    img.news-r(src='/images/aws.png')
    p Interested in Cloud Computing? Want to learn how to deploy your own virtual server, or host your data in the cloud?
    p The Linux Users Group @ UTD is coordinating with local Amazon reps to host a technical introduction to AWS, demonstrating its many services and abilities. Bring a laptop and join us on this interactive lecture! We will walk users through setting up a trial account on AWS, and explain in detail some cool things they can do with it. The event will be held in February, date and location info will be provided as it becomes available.
    p Optional: We will be walking users through setting up a trial account for AWS, which is free for one year. You'll need a credit-card to participate with this step (note: you will not be charged anything as long as you stay in the AWS free tier monthly usage allotment).
    br
    hr

    h1 Linux Gaming / SteamOS Meeting
    h3 (Date and room pending)
    img.news-l(src='/images/steam.png')
    p Interested in learning how to play your favorite games on Linux so you can finally ditch Windows? Heard about the new Steam Machine and want to see what the hype is all about? Join us in March for our gaming meetup where we will demo a working SteamOS rig, walk users through the install on their own machines, and show users how to install their favorite games either running natively through steam, or using Wine. We will also have a fast gigabit LAN set up so those who bring in a machine can try out their new setup.
    br
    hr

    h1 Media Servers & Clients Meeting
    h3 (Date and room pending)
    p This April LUG @ UTD will be hosting a meeting exploring several media servers and clients for Linux. We will focus on mpd and ncmpcpp, but also plan to show several types of setups including ftp servers, dlna servers, and using embedded systems as media clients. Come join us an learn how to use a raspberry pi to playback Full HD video in your living room for just $35!
    br
    hr