doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='/stylesheets/pygment_trac.css')
    link(rel='stylesheet', href='/stylesheets/lug.css')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(charset='utf-8')
    meta(name="google-site-verification", content="c6UsK7DrGlabHzxDV1DRGwumdcrNCk-bBc0oUEDydV8")
    script.
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-48971972-1']);
                _gaq.push(['_trackPageview']);
                (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

  body
    #header
        nav
            li.downloads
                a(href='join').nav_join Become a member
            li.fork
                a(href='https://github.com/utdlug/').nav_top Github
            li.fork
                block link


    .wrapper
        section
            #title
                a(href='/',title='Home')
                    img.logo(src='/images/logo.png')
                block header
            //- placeholder stuff until dynamic content is implemented:
            block content
