doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='/stylesheets/pygment_trac.css')
    link(rel='stylesheet', href='/stylesheets/lug.css')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(charset='utf-8')
    meta(name="google-site-verification", content="c6UsK7DrGlabHzxDV1DRGwumdcrNCk-bBc0oUEDydV8")

  body
    #header
        nav
            li.downloads
                a(href='join').nav_join Become a member
            li.fork
                a(href='https://github.com/utdlug/').nav_top Github
            li.calendar
                a(href='https://www.google.com/calendar/embed?src=utdlug%40gmail.com&ctz=America/Chicago').nav_top Calendar 
             //- li.fork
                //- a(href='aboutus').nav_top About Us

                
    .wrapper
        section
            #title
                img.logo(src='/images/logo.png')
                h1 Welcome
                p We are a student organization devoted to the teaching and advocacy of Linux, open source, and free software of all kinds. We welcome anyone and everyone from the Linux, Unix, BSD, and OS X realms, so come join us!  All of our meetings are open to the public.

                br
                #irc.irc_contact
                    nav
                        a(href='chat') Chat with us
                        | we are on IRC at 
                        b irc.oftc.net #utdlug
                br
                hr
            //- placeholder stuff until dynamic content is implemented:
            block content
